<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
     .inner {
          margin-bottom: 24em;
     }
     .post-holder.odd {
          background: #76934f;
     }
     body {
          font-family: Cormorant;
     }
     h1 {
          font-family: Cormorant;
          font-size: 6em !important;
     }
     h2 {
          font-family: Cormorant;
     }
     .fn-item {
          font-family: Cormorant;
     }

</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Cormorant">
